body {
	background-color: #1e1e1e;
	color: #d4d4d4;
}

button.active {
	background-color: #1e68e5;
	color: #d4d4d4;
}
.hidden {
	display: none;
}

svg,
canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#stats {
	position: fixed;
	margin-top: 0.2em;
	right: 0;
	padding: 0.1em;
	font-size: 0.8em;
	background-color: #1e1e1e;
	color: #d4d4d4;
}
